@model PillowsListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var pillow in Model.Pillows)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@pillow.ImageThumbnailURL" alt="">
        <div class="caption">
            <h3 class="pull-right">@pillow.Price.ToString("c")</h3>
            <h3>
                <a>@pillow.Name</a>
            </h3>
            <p>@pillow.ShortDescription</p>
        </div>
    </div>
</div>
}